@import "./tokens/tokens.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--color-bg-subtle);
  color: var(--color-text-primary);
}

#root {
  min-height: 100svh;
}
